html, body {margin:0;padding:0;height:100%;}

.navbar { border-radius:0; }

.table_with_hover:hover {
  background-color:#f1f8e9;
}

#contract_detail_card {
  margin-left: 16px;
  margin-right: 16px;
}

.contract_detail_card_identifier {
  margin-right: 8px;
}
