<div layout="column" layout-align="center center" flex>
  <md-whiteframe class="md-whiteframe-3dp" layout="column" style="margin: 1em; margin-top: 4em; width: 80em;min-height: 10em; max-height: 50em;" flex>
    <md-subheader class="md-no-sticky">
      <span> {{ ctrl.contracts.length }} items </span>
      <span style="margin-left:2em;"> Contracten die binnenkort verlopen  </span>
      </md-subheader>
    <div flex="100" style="overflow-y: scroll;">
      <md-list class="md-dense" flex>

        <md-list-item class="md-3-line" ng-repeat="contract in ctrl.contracts">
          <md-button class="md-fab md-mini md-primary" style="background-color: grey;">
              <md-icon style="padding-right: 16px; color: #FFFFFF">archive</md-icon>
          </md-button>

          <div class="md-list-item-text" layout="column" ng-hide="product.editMode == true">
            <table>
              <tr>
                <td><h3>{{ contract.id }}. {{contract.company_name}} </h3></td>
                <td> <h3 style="margin-left: 24px;">{{contract.starting_date}} - {{ contract.expiration_date}} <h3></td>
              </tr>
              <tr>
                <td> <h4>{{ contract.name }} </h4></td>
                <td> <h4 style="margin-left: 24px;">x {{contract.product_count }}<h4> </td>
              </tr>
              <tr>
                <td> <h4>Betaald: <span ng-hide="contract.is_paid == 0"> Nee </span> <span ng-hide="contract.is_paid == 1"> Ja </span> <h4> </td>
                <td> <h4 style="margin-left: 24px;">prijs: €{{ contract.total_price }}<h4> </td>
              </tr>
            </table>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </div>

    <md-divider></md-divider>
    <div layout="row" layout-align="space-around center" flex="10" style="min-height: 4em;">
      <md-button class="md-icon-button" aria-label="Project" ui-sref="contract">
        <md-icon style="color: #000000">archive</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Creator" ui-sref="product">
        <md-icon style="color: #000000">perm_media</md-icon>
      </md-button>
    </div>
  </md-whiteframe>

</div>
