<md-divider></md-divider>
<md-toolbar layout="row" style="background-color: #42a5f5; color: white">
  <div class="md-toolbar-tools">
    <span>{{ ctrl.title }}</span>
  </div>
  <div>
    <md-button ng-click="ctrl.toggleAddNew()"><md-icon style="padding-right: 16px; color: white">add</md-icon></md-button>
  </div>
</md-toolbar>

<md-content>
  <md-list class="md-dense" flex>
    <md-subheader class="md-no-sticky">{{ ctrl.companys.length }} items</md-subheader>

    <md-list-item class="md-3-line" ng-hide="ctrl.addNewMode == false">
      <md-button class="md-fab md-mini md-primary" style="background-color: grey;">
          <md-icon style="padding-right: 16px; color: #FFFFFF">perm_media</md-icon>
      </md-button>

      <div class="md-list-item-text" layout="column">
        <md-input-container>
          <label>Naam</label>
          <input  aria-label="Close" ng-model="ctrl.tempCompany.name">
        </md-input-container>
      </div>

      <div>
        <md-button ng-click="ctrl.saveNewCompany()">Save</md-button>
        <md-button ng-click="ctrl.toggleAddNew()">Cancel</md-button>
      </div>

      <md-divider></md-divider>
    </md-list-item>

    <md-list-item class="md-3-line" ng-repeat="company in ctrl.companys">
      <md-button class="md-fab md-mini md-primary" style="background-color: grey;">
          <md-icon style="padding-right: 16px; color: #FFFFFF">perm_media</md-icon>
      </md-button>

      <div class="md-list-item-text" layout="column" ng-hide="company.editMode == true">
        <h3>{{ company.id }}. {{company.name}}</h3>
      </div>

      <div class="md-list-item-text" layout="column" ng-hide="company.editMode != true">
        <md-input-container>
          <input aria-label="Close" ng-model="company.name">
        </md-input-container>
      </div>

      <div ng-hide="company.editMode == true">
        <md-button ng-click="ctrl.toggleEdit(company)"><md-icon style="padding-right: 16px; color: grey">create</md-icon></md-button>
      </div>

      <div ng-hide="company.editMode != true">
        <md-button ng-click="ctrl.save(company)">Save</md-button>
        <md-button ng-click="ctrl.toggleEdit(company)">Cancel</md-button>
        <div>
          <md-button ng-click="ctrl.delete(company)">Delete</md-button>
        </div>
      </div>
      <md-divider></md-divider>
    </md-list-item>

  </md-list>
</md-content>
