<html ng-app>
   
   <head>
		<!-- css -->
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
		<!-- end css -->
		
		<!-- scripts -->
		<script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>	
        <script src="node_modules/angular-aria/angular-aria.js"></script>	
        <script src="node_modules/angular-material/angular-material.js"></script>	
		<!-- end scripts -->
	  
   </head>
   
    <body ng-app="myApp" ng-controller="myCtrl">
 <div ng-app="myApp" ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
});
</script> 
    </body>
</html> 