<!doctype html>
<html>

   <head>
		<!-- css -->
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
        <!-- <link rel="stylesheet" href="node_modules/material-icons/css/material-icons.css"> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link href="node_modules/angular-material-data-table/dist/md-data-table.css" rel="stylesheet" type="text/css"/>
		<!-- end css -->

		<!-- scripts -->
		<script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="node_modules/angular-aria/angular-aria.js"></script>
        <script src="node_modules/angular-material/angular-material.js"></script>

        <script src="node_modules/angular-material-data-table/dist/md-data-table.js"></script>
		<!-- end scripts -->
   </head>

   <body ng-app="myapp">

        <div ng-controller = "mainController" >

            <md-toolbar flex ng-init='init()' layout-align="center center"  class='md-medium-tall' style="background-color:#42a5f5">
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <md-button class="material-icons" ng-click="">
                        menu
                    </md-button>
                    <img src="assets/img/logo.png" style="height:50px; width:auto; margin-right: 6px; margin-bottom:2px;">
                    <p style="margin-bottom:2px;">  <font size="5" color="white">Data Store</font> </p>
                    <div flex></div>
                    <md-button class="last_page" ng-click="">
                        last_page
                    </md-button>
                </div>
            </md-toolbar>

            <div ng-include="'assets/html/table.html'"></div>

        </div>

        <script src="js/index.js"></script>
   </body>
</html>
