<md-toolbar flex style="background-color:#42a5f5">
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="main.toggle()">
      <md-icon>menu</md-icon>
    </md-button>
    <p>{{ main.title }}</p>
    <div style="width: 40px; height: 40px;"></div>
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="left">
  <md-toolbar style="background-color:#42a5f5">
    <h1 class="md-toolbar-tools">Menu</h1>
  </md-toolbar>
  <md-list ng-cloak>
    <md-list-item ui-sref="home">
      <md-icon style="padding-right: 16px; color: #000000">home</md-icon>
      <p>home</p>
    </md-list-item>
    <md-list-item ui-sref="contract">
      <md-icon style="padding-right: 16px; color: #000000">archive</md-icon>
      <p>contracten</p>
    </md-list-item>
    <md-list-item ui-sref="product">
      <md-icon style="padding-right: 16px; color: #000000">perm_media</md-icon>
      <p>producten</p>
    </md-list-item>
    <md-list-item ui-sref="company">
      <md-icon style="padding-right: 16px; color: #000000">location_city</md-icon>
      <p>Bedrijven</p>
    </md-list-item>
  </md-list>
</md-sidenav>
