<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Contracten</span>
    </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
    <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
            <tr md-row>
                <th md-column md-order-by="nameToLower"><span>Bedrijfsnaam</span></th>
                <th md-column md-order-by="calories.value"><span>Bedrijfsnaam</span></th>
                <th md-column >Nomadesk</th>
                <th md-column >Exchange 2010</th>
                <th md-column >Exchange 2013</th>
                <th md-column >Online backup</th>
                <th md-column >Ruimte</th>
                <th md-column >Aantal accounts</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="dessert" md-select-id="name" md-auto-select>
                <td md-cell>1aaaaaaaaaaaaaaaa</td>
                <td md-cell>2aaaaaaaaaaaaaaaaa</td>
                <td md-cell>3aaaaaaaaaaaaaaaaaa</td>
                <td md-cell>4aaaaaaaaaaaaa</td>
                <td md-cell>5aaaaaaaaaaa</td>
                <td md-cell>6aaaaaaaaaaa</td>
                <td md-cell>7aaaaaaaaaaaaaa</td>
                <td md-cell>8aaaaaaaaaaaaaa</td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>