<md-divider></md-divider>
<md-toolbar layout="row" style="background-color: #42a5f5; color: white">
  <div class="md-toolbar-tools">
    <span>{{ ctrl.title }}</span>
  </div>
  <div>
    <md-button ng-click="ctrl.toggleAddNew()"><md-icon style="padding-right: 16px; color: white">add</md-icon></md-button>
  </div>
</md-toolbar>

<md-content>
  <md-list class="md-dense" flex>
    <md-subheader class="md-no-sticky">{{ ctrl.products.length }} items</md-subheader>

    <md-list-item class="md-3-line" ng-hide="ctrl.addNewMode == false">
      <md-button class="md-fab md-mini md-primary" style="background-color: grey;">
          <md-icon style="padding-right: 16px; color: #FFFFFF">perm_media</md-icon>
      </md-button>

      <div class="md-list-item-text" layout="column">
        <md-input-container>
          <label>Naam</label>
          <input  aria-label="Close" ng-model="ctrl.tempProduct.name">
        </md-input-container>
        <md-input-container>
          <label>Beschrijving</label>
          <input aria-label="Close" ng-model="ctrl.tempProduct.description">
        </md-input-container>
      </div>

      <div>
        <md-button ng-click="ctrl.saveNewProduct()">Save</md-button>
        <md-button ng-click="ctrl.toggleAddNew()">Cancel</md-button>
      </div>

      <md-divider></md-divider>
    </md-list-item>

    <md-list-item class="md-3-line" ng-repeat="product in ctrl.products">
      <md-button class="md-fab md-mini md-primary" style="background-color: grey;">
          <md-icon style="padding-right: 16px; color: #FFFFFF">perm_media</md-icon>
      </md-button>

      <div class="md-list-item-text" layout="column" ng-hide="product.editMode == true">
        <h3>{{ product.id }}. {{product.name}}</h3>
        <h4>{{ product.description }}</h4>
      </div>

      <div class="md-list-item-text" layout="column" ng-hide="product.editMode != true">
        <md-input-container>
          <input aria-label="Close" ng-model="product.name">
        </md-input-container>
        <md-input-container>
          <input aria-label="Close" ng-model="product.description">
        </md-input-container>
      </div>

      <div ng-hide="product.editMode == true">
        <md-button ng-click="ctrl.toggleEdit(product)"><md-icon style="padding-right: 16px; color: grey">create</md-icon></md-button>
        <!-- <md-button ng-click="ctrl.delete(product)"><md-icon style="padding-right: 16px; color: grey">clear</md-icon></md-button> -->
      </div>

      <div ng-hide="product.editMode != true">
        <md-button ng-click="ctrl.save(product)">Save</md-button>
        <md-button ng-click="ctrl.toggleEdit(product)">Cancel</md-button>
        <div>
          <md-button ng-click="ctrl.delete(product)">Delete</md-button>
        </div>
      </div>

      <md-divider></md-divider>
    </md-list-item>

  </md-list>
</md-content>
