<md-divider></md-divider>
<md-toolbar layout="row" style="background-color: #42a5f5; color: white">
  <div class="md-toolbar-tools">
    <span>{{ ctrl.title }}</span>
  </div>
  <div>
    <md-button ng-click="ctrl.toggleAddNew()"><md-icon style="padding-right: 16px; color: white">add</md-icon></md-button>
  </div>
</md-toolbar>

<md-content style="margin-left: 32px; margin-right: 32px;">
  <md-list class="md-dense" flex>
    <md-subheader class="md-no-sticky">{{ ctrl.contracts.length }} items</md-subheader>

    <md-list-item class="md-3-line" ng-hide="ctrl.addNewMode == false">
      <md-button class="md-fab md-mini md-primary" style="background-color: grey;">
          <md-icon style="padding-right: 16px; color: #FFFFFF">archive</md-icon>
      </md-button>

      <form name="projectForm" flex="100">
        <div layout="row" flex="80">
          <md-input-container class="md-block" flex-gt-sm>
             <label>Bedrijf</label>
             <md-select required ng-model="ctrl.newContract.companyId">
               <md-option ng-repeat="company in ctrl.companys" value="{{company.id}}">
                 {{company.name}}
               </md-option>
             </md-select>
           </md-input-container>

           <md-input-container class="md-block" flex-gt-sm>
              <label>Product</label>
              <md-select required ng-model="ctrl.newContract.productId">
                <md-option ng-repeat="product in ctrl.products" value="{{product.id}}">
                  {{product.name}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container>
              <label>Start datum</label>
              <md-datepicker required ng-model="ctrl.newContract.starting_date"></md-datepicker>
            </md-input-container>

            <md-input-container>
              <label>Eind datum</label>
              <md-datepicker required ng-model="ctrl.newContract.expiration_date"></md-datepicker>
            </md-input-container>

            <md-input-container>
               <label>Betaald</label>
               <md-select required ng-model="ctrl.newContract.is_paid">
                 <md-option ng-repeat='item in ["Ja","Nee"]' value="{{item}}">
                   {{item}}
                 </md-option>
               </md-select>
             </md-input-container>
        </div>
        <div flex="80">
          <md-input-container flex>
            <label>Aantal product</label>
            <input required type="number" step="1" name="product_count" ng-model="ctrl.newContract.product_count" min="1" max="1000" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
            <!-- <input required type="number" step="1" name="products" ng-model="ctrl.newContract.product_count" min="1" max="1000" ng-pattern="/^1234$/" /> -->
          </md-input-container>

          <md-input-container flex>
            <label>prijs</label>
            <input required type="number" step="0.01" name="price" ng-model="ctrl.newContract.price" min="1" max="500000" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
          </md-input-container>

          <div>
            <md-button type="submit" ng-click="ctrl.addNewContract(ctrl.newContract)" ng-disabled="projectForm.$invalid" >Submit</md-button>
          </div>
        </div>
      </form>

      <!-- <div class="md-list-item-text" layout="column">
        <md-input-container>
          <label>Naam</label>
          <input aria-label="Close" ng-model="ctrl.tempContract.name">
        </md-input-container>
        <md-input-container>
          <label>Beschrijving</label>
          <input aria-label="Close" ng-model="ctrl.tempContract.description">
        </md-input-container>
      </div> -->

      <!-- <div>
        <md-button ng-click="ctrl.saveNewContract()">Save</md-button>
        <md-button ng-click="ctrl.toggleAddNew()">Cancel</md-button>
      </div> -->

      <md-divider></md-divider>
    </md-list-item>

    <md-list-item class="md-3-line" ng-repeat="contract in ctrl.contracts">
      <md-button class="md-fab md-mini md-primary" style="background-color: grey;">
          <md-icon style="padding-right: 16px; color: #FFFFFF">archive</md-icon>
      </md-button>

      <div class="md-list-item-text" layout="column" ng-hide="product.editMode == true">
        <table>
          <tr>
            <td><h3>{{ contract.id }}. {{contract.company_name}} </h3></td>
            <td> <h3 style="margin-left: 16px;">{{contract.starting_date}} - {{ contract.expiration_date}} <h3></td>
          </tr>
          <tr>
            <td> <h4>{{ contract.name }} x {{contract.product_count }}</h4></td>
            <td> <h4 style="margin-left: 16px;">{{ contract.description }}<h4> </td>
          </tr>
          <tr>
            <td> <h4>Betaald: <span ng-hide="contract.is_paid == 0"> Nee </span> <span ng-hide="contract.is_paid == 1"> Ja </span> <h4> </td>
            <td> <h4 style="margin-left: 16px;">prijs: €{{ contract.total_price }}<h4> </td>
          </tr>
        </table>
      </div>

      <div class="md-list-item-text" layout="column" ng-hide="contract.editMode != true">
        <md-input-container>
          <input aria-label="Close" ng-model="contract.name">
        </md-input-container>
        <md-input-container>
          <input aria-label="Close" ng-model="contract.description">
        </md-input-container>
      </div>

      <div ng-hide="contract.editMode == true">
        <md-button ng-click="ctrl.toggleEdit(contract)"><md-icon style="padding-right: 16px; color: grey">create</md-icon></md-button>
        <!-- <md-button ng-click="ctrl.delete(product)"><md-icon style="padding-right: 16px; color: grey">clear</md-icon></md-button> -->
      </div>

      <div ng-hide="contract.editMode != true">
        <md-button ng-click="ctrl.save(contract)">Save</md-button>
        <md-button ng-click="ctrl.toggleEdit(contract)">Cancel</md-button>
      </div>

      <md-divider></md-divider>
    </md-list-item>

  </md-list>
</md-content>
